body {
    background-color: rgb(60, 60, 63);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#error-alert {
    color: rgb(255, 0, 0);
}

#alert-alert {
    color: yellow;
}

#success-alert {
    color: limegreen;
}

form div {
    display: flex;
    flex-direction: column;
}

form div input,
form div select{
    width: 70%;
    margin-top: .5rem;
    height: 1.5rem;
}